<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.CompanyMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.Company">
        <result property="companyId" column="COMPANY_ID" />
        <result property="companyName" column="COMPANY_NAME" />
        <result property="companyCode" column="COMPANY_CODE" />
    </resultMap>

    <sql id="base_query">
        <if test='companyDto.companyId != null and companyDto.companyId != ""'>
            and company.COMPANY_ID = #{companyDto.companyId}
        </if>
        <if test='companyDto.companyName != null and companyDto.companyName != ""'>
            and company.COMPANY_NAME LIKE concat('%',#{companyDto.companyName},'%')
        </if>
        <if test='companyDto.companyCode != null and companyDto.companyCode != ""'>
            and company.COMPANY_CODE LIKE concat('%',#{usersDto.companyCode},'%')
        </if>
    </sql>

    <select id="queryList" resultType="com.star.starboot.system.dto.CompanyDto">
        select company.* from t_company company where company.DELETED_CODE = 0
    </select>
    <select id="queryById" resultType="com.star.starboot.system.dto.CompanyDto">
        select company.* from t_company company
        where company.DELETED_CODE = 0 and company.COMPANY_ID = #{id}
    </select>
    <select id="listByIds" resultType="com.star.starboot.system.dto.CompanyDto">
        select company.* from t_company company
        where company.DELETED_CODE = 0
        and
        <foreach collection='ids' item="item" separator="or" open="(" close=")">
            find_in_set(company.COMPANY_ID, #{item})
        </foreach>
    </select>
    <delete id="deleteById">
        update t_company set DELETED_CODE = 1 where COMPANY_ID = #{id}
    </delete>
</mapper>
