<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.DepartmentMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.Department">
        <result property="departmentCode" column="DEPARTMENT_CODE" />
        <result property="departmentName" column="DEPARTMENT_NAME" />
    </resultMap>

    <sql id="base_query">
        <if test='departmentDto.departmentCode != null and departmentDto.departmentCode != ""'>
            and department.DEPARTMENT_CODE = #{companyDto.departmentCode}
        </if>
        <if test='departmentDto.departmentName != null and departmentDto.departmentName != ""'>
            and department.DEPARTMENT_NAME LIKE concat('%',#{companyDto.departmentName},'%')
        </if>
    </sql>

    <select id="getByCodeAndCompanyCode" resultType="com.star.starboot.system.entity.Department">
       select dept.* from t_department dept left join t_company company on dept.COMPANY_ID = dept.COMPANY_ID
        where dept.DELETED_CODE = 0 and company.DELETED_CODE = 0 and dept.DEPARTMENT_CODE = #{departmentCode}
        and company.COMPANY_CODE = #{companyCode}
    </select>
    <select id="queryList" resultType="com.star.starboot.system.dto.DepartmentDto">
        select dept.* from t_department dept where dept.DELETED_CODE = 0
        <if test="dto.companyId != null and dto.companyId != ''">
            and dept.COMPANY_ID = #{dto.companyId}
        </if>
    </select>

</mapper>
