<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.star.starboot.system.entity.Department">
        <id column="DEPARTMENT_ID" property="departmentId" />
    <result column="PROCESS_STATE" property="processState" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_AT" property="createAt" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="UPDATE_AT" property="updateAt" />
    <result column="DELETED_AT" property="deletedAt" />
    <result column="DELETED_BY" property="deletedBy" />
    <result column="DELETED_CODE" property="deletedCode" />
        <result column="DEPARTMENT_CODE" property="departmentCode" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="PARENT_DEPARTMENT_ID" property="parentDepartmentId" />
        <result column="COMPANY_ID" property="companyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROCESS_STATE,
        CREATE_BY,
        CREATE_AT,
        UPDATE_BY,
        UPDATE_AT,
        DELETED_AT,
        DELETED_BY,
        DELETED_CODE,
        DEPARTMENT_ID, DEPARTMENT_CODE, DEPARTMENT_NAME, PARENT_DEPARTMENT_ID, COMPANY_ID
    </sql>
    <select id="getByCodeAndCompanyCode" resultType="com.star.starboot.system.entity.Department">
       select dept.* from t_department dept left join t_company company on dept.COMPANY_ID = dept.COMPANY_ID
        where dept.DELETED_CODE = 0 and company.DELETED_CODE = 0 and dept.DEPARTMENT_CODE = #{departmentCode}
        and company.COMPANY_CODE = #{companyCode}
    </select>
    <select id="queryList" resultType="com.star.starboot.system.dto.DepartmentDto">
        select dept.* from t_department dept where dept.DELETED_CODE = 0
        <if test="dto.companyId != null and dto.companyId != ''">
            and dept.COMPANY_ID = #{dto.companyId}
        </if>
    </select>

</mapper>
