<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.DictionaryMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.Dictionary">
        <result property="dictName" column="DICT_NAME" />
        <result property="dictDs" column="DICT_DS" />
    </resultMap>

    <sql id="base_query">
        <if test="dictionaryDto.dictCode != null and dictionaryDto.dictCode != ''">
            and  dict.DICT_CODE like concat('%', #{dictionaryDto.dictCode}, '%')
        </if>
        <if test="dictionaryDto.dictName != null and dictionaryDto.dictName != ''">
            and  dict.DICT_NAME like concat('%', #{dictionaryDto.dictName}, '%')
        </if>
    </sql>

    <select id="queryPage" resultType="com.star.starboot.system.dto.DictionaryDto">
        select dict.* from t_dictionary dict where dict.DELETED_CODE = 0
        <if test="dictionaryDto.dictCode != null and dictionaryDto.dictCode != ''">
            and  dict.DICT_CODE like concat('%', #{dictionaryDto.dictCode}, '%')
        </if>
        <if test="dictionaryDto.dictName != null and dictionaryDto.dictName != ''">
            and  dict.DICT_NAME like concat('%', #{dictionaryDto.dictName}, '%')
        </if>
    </select>

    <select id="queryList" resultType="com.star.starboot.system.dto.DictionaryDto">
        select dict.* from t_dictionary dict where dict.DELETED_CODE = 0
    </select>

    <select id="queryById" resultType="com.star.starboot.system.dto.DictionaryDto">
        select dict.* from t_dictionary dict where dict.DELETED_CODE = 0
                                               and dict.DICT_ID = #{id}
    </select>
</mapper>
