<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.FileMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.File">
        <result property="fileId" column="FILE_ID" />
        <result property="absolutePath" column="ABSOLUTE_PATH" />
        <result property="fileType" column="FILE_TYPE" />
        <result property="oldName" column="OLD_NAME" />
        <result property="realName" column="REAL_NAME" />
    </resultMap>
</mapper>
