<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.FileMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.File">
        <result property="fileId" column="FILE_ID" />
        <result property="absolutePath" column="ABSOLUTE_PATH" />
        <result property="fileType" column="FILE_TYPE" />
        <result property="oldName" column="OLD_NAME" />
        <result property="realName" column="REAL_NAME" />
        <result property="relativePath" column="RELATIVE_PATH" />
        <result property="thumb" column="THUMB" />
        <result property="saveType" column="SAVE_TYPE" />
    </resultMap>

    <sql id="base_query">
        <if test="fileDto.fileId != null and fileDto.fileId != ''">
            and  file.FILE_ID like concat('%', #{fileDto.fileId}, '%')
        </if>
        <if test="fileDto.absolutePath != null and fileDto.absolutePath != ''">
            and  file.ABSOLUTE_PATH like concat('%', #{fileDto.absolutePath}, '%')
        </if>
        <if test="fileDto.fileType != null and fileDto.fileType != ''">
            and  file.FILE_TYPE like concat('%', #{fileDto.fileType}, '%')
        </if>
        <if test="fileDto.realName != null and fileDto.realName != ''">
            and  file.REAL_NAME like concat('%', #{fileDto.realName}, '%')
        </if>
    </sql>
</mapper>
