<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.FileMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.File">
        <result property="fileId" column="FILE_ID" />
        <result property="absolutePath" column="ABSOLUTE_PATH" />
        <result property="fileType" column="FILE_TYPE" />
        <result property="oldName" column="OLD_NAME" />
        <result property="realName" column="REAL_NAME" />
        <result property="relativePath" column="RELATIVE_PATH" />
        <result property="thumb" column="THUMB" />
        <result property="saveType" column="SAVE_TYPE" />
    </resultMap>

    <sql id="base_query">
        <if test="fileDto.fileId != null and fileDto.fileId != ''">
            and  file.FILE_ID like concat('%', #{fileDto.fileId}, '%')
        </if>
        <if test="fileDto.absolutePath != null and fileDto.absolutePath != ''">
            and  file.ABSOLUTE_PATH like concat('%', #{fileDto.absolutePath}, '%')
        </if>
        <if test="fileDto.fileType != null and fileDto.fileType != ''">
            and  file.FILE_TYPE like concat('%', #{fileDto.fileType}, '%')
        </if>
        <if test="fileDto.realName != null and fileDto.realName != ''">
            and  file.REAL_NAME like concat('%', #{fileDto.realName}, '%')
        </if>
        <if test="fileDto.relativePath != null and fileDto.relativePath != ''">
            and  file.RELATIVE_PATH like concat('%', #{fileDto.relativePath}, '%')
        </if>
        <if test="fileDto.thumb != null and fileDto.thumb != ''">
            and  file.THUMB like concat('%', #{fileDto.thumb}, '%')
        </if>
        <if test="fileDto.saveType != null and fileDto.saveType != ''">
            and  file.SAVE_TYPE like concat('%', #{fileDto.saveType}, '%')
        </if>
    </sql>
    <delete id="deleteById">
        update t_file set DELETED_CODE = 1 where FILE_ID = #{id}
    </delete>

    <select id="queryList" resultType="com.star.starboot.system.entity.File">
        select file.* from t_file file where file.DELETED_CODE = 0
    </select>
    <select id="queryById" resultType="com.star.starboot.system.entity.File">
        select file.* from t_file file where file.DELETED_CODE = 0 and file.FILE_ID = #{id}
    </select>
    <select id="listByIds" resultType="com.star.starboot.system.entity.File">
        select file.* from t_file file where file.DELETED_CODE = 0
        and
        <foreach collection='ids' item="item" separator="or" open="(" close=")">
            find_in_set(file.FILE_ID, #{item})
        </foreach>
    </select>
</mapper>
