<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.FirstDictMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.FirstDict">
        <result property="firstDictId" column="FIRST_DICT_ID" />
        <result property="firstDictCode" column="FIRST_DICT_CODE" />
        <result property="firstDictDs" column="FIRST_DICT_DS" />
    </resultMap>

    <select id="queryPage" resultType="com.star.starboot.system.dto.FirstDictDto">
        select firstDict.* from t_first_dict firstDict where firstDict.DELETED_CODE = 0
        <if test="firstDictDto.firstDictCode != null and firstDictDto.firstDictCode != ''">
            and  firstDict.FIRST_DICT_CODE like concat('%', #{firstDictDto.firstDictCode}, '%')
        </if>
        <if test="firstDictDto.firstDictName != null and firstDictDto.firstDictName != ''">
            and  firstDict.FIRST_DICT_NAME like concat('%', #{firstDictDto.firstDictName}, '%')
        </if>
        <if test="firstDictDto.dictId != null and firstDictDto.dictId != ''">
            and  firstDict.DICT_ID = #{firstDictDto.dictId}
        </if>
        order by firstDict.FIRST_DICT_CODE asc
    </select>
    <select id="queryList" resultType="com.star.starboot.system.dto.FirstDictDto">
        select firstDict.* from t_first_dict firstDict
        left join t_dictionary dict on firstDict.DICT_ID = dict.DICT_ID
        where firstDict.DELETED_CODE = 0
        <if test="firstDictDto.dictCode != null and firstDictDto.dictCode != ''">
            and  dict.DICT_CODE = #{firstDictDto.dictCode}
        </if>
    </select>
    <select id="getFirstDictAll" resultType="com.star.starboot.system.dto.FirstDictDto">
        select firstDict.*,dict.dict_code from t_first_dict firstDict
        left join t_dictionary dict on firstDict.DICT_ID = dict.DICT_ID
        where firstDict.DELETED_CODE = 0 ORDER BY dict.dict_code desc,firstDict.FIRST_DICT_CODE asc
    </select>

</mapper>
