<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.MessageMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.Message">
        <result property="messageId" column="MESSAGE_ID" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="type" column="TYPE" />
        <result property="messageRead" column="MESSAGE_READ" />
        <result property="readTime" column="READ_TIME" />
        <result property="appMessage" column="APP_MESSAGE" />
        <result property="sysMessage" column="SYS_MESSAGE" />
        <result property="emailMessage" column="EMAIL_MESSAGE" />
        <result property="fromId" column="FROM_ID" />
        <result property="title" column="TITLE" />
        <result property="secondTitle" column="SECOND_TITLE" />
        <result property="bindTable" column="BIND_TABLE" />
        <result property="dataId" column="DATA_ID" />
        <result property="notifyId" column="NOTIFY_ID" />
        <result property="processKey" column="PROCESS_KEY" />
    </resultMap>

    <sql id="base_query">
        <if test="message.messageRead!=null">
            and msg.MESSAGE_READ = #{message.messageRead}
        </if>
        <if test="message.title!=null and message.title !=''">
            and msg.title like concat('%',#{message.title},'%')
        </if>
        <if test="message.sysMessage!=null and message.sysMessage !=''">
            and msg.SYS_MESSAGE like concat('%',#{message.sysMessage},'%')
        </if>
    </sql>

    <select id="getUserMessagePager" resultType="com.star.starboot.system.entity.Message">
        select msg.*,user.USER_NAME as fromName from t_message msg
        left join t_users user on msg.FROM_ID = user.USER_ID
        where msg.DELETED_CODE = 0 and msg.MEMBER_ID = #{message.memberId}
        <if test="message.messageRead!=null">
            and msg.MESSAGE_READ = #{message.messageRead}
        </if>
        <if test="message.title!=null and message.title !=''">
            and msg.title like concat('%',#{message.title},'%')
        </if>
        <if test="message.sysMessage!=null and message.sysMessage !=''">
            and msg.SYS_MESSAGE like concat('%',#{message.sysMessage},'%')
        </if>
        order by msg.CREATE_AT desc
    </select>

    <select id="getUserMsgList" resultType="com.star.starboot.system.entity.Message">
        select msg.*,user.USER_NAME as fromName from t_message msg
        left join t_users user on msg.FROM_ID = user.USER_ID
        where msg.DELETED_CODE = 0 and msg.MEMBER_ID = #{message.memberId}
        order by msg.CREATE_AT desc
    </select>
    <select id="getMsgCount" resultType="java.util.Map">
        select message.MESSAGE_READ,count(*) as count from t_message message where message.DELETED_CODE = 0 and message.MEMBER_ID = #{userId} group by message.MESSAGE_READ
    </select>
    <select id="getNotifyId" resultType="java.lang.Integer">
        select distinct msg.notify_id from t_message msg
        where msg.DELETED_CODE = 0 and msg.BIND_TABLE = #{bindTable} and msg.DATA_ID = #{dataId}
    </select>
    <select id="getMaxNotifyId" resultType="java.lang.Integer">
        select IFNULL(max(msg.NOTIFY_ID),0) + 1 as notifyId from t_message msg
        where msg.DELETED_CODE = 0
    </select>
    <select id="queryList" resultType="com.star.starboot.system.entity.Message">
        select msg.* from t_message msg
        where msg.DELETED_CODE = 0
    </select>
</mapper>
