<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.MessageSettingMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.MessageSetting">
        <result property="messageSettingId" column="MESSAGE_SETTING_ID" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="memberName" column="MEMBER_NAME" />
        <result property="name" column="NAME" />
        <result property="key" column="KEY" />
    </resultMap>

    <sql id="base_query">
        <if test="messageSetting.name!=null and messageSetting.name !=''">
            and setting.name like concat('%',#{messageSetting.name},'%')
        </if>
        <if test="messageSetting.memberId!=null and messageSetting.memberId !=''">
            and setting.MEMBER_ID = #{messageSetting.memberId}
        </if>
        <if test="messageSetting.memberName!=null and messageSetting.memberName !=''">
            and setting.MEMBER_NAME like concat('%',#{messageSetting.memberName},'%')
        </if>
        <if test="messageSetting.name!=null and messageSetting.name !=''">
            and setting.name like concat('%',#{messageSetting.name},'%')
        </if>
        <if test="messageSetting.key!=null and messageSetting.key !=''">
            and setting.key like concat('%',#{messageSetting.key},'%')
        </if>
    </sql>

    <select id="queryPage" resultType="com.star.starboot.system.entity.MessageSetting">
        select setting.* from t_message_setting setting
        where setting.DELETED_CODE = 0
        <if test="messageSetting.name!=null and messageSetting.name !=''">
            and setting.name like concat('%',#{messageSetting.name},'%')
        </if>
    </select>
</mapper>
