<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.ResourcesMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.Resources">
        <result property="resourcesId" column="RESOURCES_ID" />
        <result property="resourcesNum" column="RESOURCES_NUM" />
        <result property="resourcesName" column="RESOURCES_NAME" />
        <result property="resourcesType" column="RESOURCES_TYPE" />
        <result property="resourcesImg" column="RESOURCES_IMG" />
        <result property="resourcesDs" column="RESOURCES_DS" />
        <result property="resourcesMana" column="RESOURCES_MANA" />
        <result property="parentResourcesNum" column="PARENT_RESOURCES_NUM" />
        <result property="resourcesCode" column="RESOURCES_CODE" />
        <result property="CompanyId" column="COMPANY_ID" />
        <result property="pxh" column="PXH" />
        <result property="used" column="USED" />
    </resultMap>

    <sql id="base_query">
        <if test="res.resourcesNum!=null and res.resourcesNum !=''">
            and res.RESOURCES_NUM like concat('%',#{res.resourcesNum},'%')
        </if>
        <if test="res.resourcesId!=null and res.resourcesId !=''">
            and res.RESOURCES_ID = #{res.resourcesId}
        </if>
        <if test="res.resourcesName!=null and res.resourcesName !=''">
            and res.RESOURCES_NAME like concat('%',#{res.resourcesName},'%')
        </if>
        <if test="res.resourcesType!=null and res.resourcesType !=''">
            and res.RESOURCES_TYPE like concat('%',#{res.resourcesType},'%')
        </if>
    </sql>

    <select id="queryList" resultType="com.star.starboot.system.dto.ResourcesDto">
        SELECT * FROM t_resources res where res.DELETED_CODE = 0 and res.COMPANY_ID = #{companyId} order by pxh asc
    </select>
    <select id="queryById" resultType="com.star.starboot.system.dto.ResourcesDto">
        select res.* from t_resources res
        where res.DELETED_CODE = 0 and res.RESOURCES_ID = #{id}
    </select>
    <select id="listByIds" resultType="com.star.starboot.system.dto.ResourcesDto">
        select res.* from t_resources res where res.DELETED_CODE = 0
        and
        <foreach collection='ids' item="item" separator="or" open="(" close=")">
            find_in_set(res.RESOURCES_ID, #{item})
        </foreach>
    </select>

</mapper>
