<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.RolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.star.starboot.system.entity.Roles">
        <id column="ROLE_ID" property="roleId" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_AT" property="createAt" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="UPDATE_AT" property="updateAt" />
    <result column="DELETED_AT" property="deletedAt" />
    <result column="DELETED_BY" property="deletedBy" />
    <result column="DELETED_CODE" property="deletedCode" />
        <result column="ROLE_CODE" property="roleCode" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="COMPANY_ID" property="companyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROCESS_STATE,
        CREATE_BY,
        CREATE_AT,
        UPDATE_BY,
        UPDATE_AT,
        DELETED_AT,
        DELETED_BY,
        DELETED_CODE,
        ROLE_ID, ROLE_CODE, ROLE_NAME, COMPANY_ID
    </sql>
    <select id="findByUserIdAndCompany" resultType="com.star.starboot.system.entity.Roles">
        select re.ROLE_ID,re.ROLE_CODE,re.ROLE_NAME,re.COMPANY_ID from users_roles_department_company re where re.USER_ID = #{userId} and re.COMPANY_ID = #{companyId}
    </select>
    <select id="queryPage" resultType="com.star.starboot.system.dto.RolesDto">
        SELECT roles.*,company.COMPANY_NAME, company.COMPANY_CODE FROM t_roles roles
        LEFT JOIN t_company company ON roles.COMPANY_ID = company.COMPANY_ID
        WHERE roles.DELETED_CODE = 0 AND company.DELETED_CODE = 0
        <if test="rolesDto.roleCode != null and rolesDto.roleCode != ''">
            and  roles.ROLE_CODE like concat('%', #{rolesDto.roleCode}, '%')
        </if>
        <if test="rolesDto.roleName != null and rolesDto.roleName != ''">
            and  roles.ROLE_NAME like concat('%', #{rolesDto.roleName}, '%')
        </if>
    </select>

</mapper>
