<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.RolesReResourcesMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.RolesReResources">
        <result property="rolesReResourcesId" column="ROLES_RE_RESOURCES_ID" />
        <result property="resourcesId" column="RESOURCES_ID" />
        <result property="roleId" column="ROLE_ID" />
    </resultMap>

    <sql id="base_query">
        <if test="re.rolesReResourcesId!=null and re.rolesReResourcesId !=''">
            and re.ROLE_ID = #{re.rolesReResourcesId}
        </if>
        <if test="re.resourcesId!=null and re.resourcesId !=''">
            and re.ROLE_CODE = #{re.resourcesId}
        </if>
        <if test="re.roleId!=null and re.roleId !=''">
            and re.ROLE_NAME = #{re.roleId}
        </if>
    </sql>

    <delete id="deleteByRoleId">
        update t_roles_re_resources re set re.DELETED_CODE = 1,re.DELETED_AT = NOW(),re.DELETED_BY = #{userId} where re.ROLE_ID = #{roleId}
    </delete>
    <select id="getResourcesByRoleTid" resultType="com.star.starboot.system.entity.Resources">
        select
        re.RESOURCES_ID,
        re.RESOURCES_NUM,
        re.RESOURCES_NAME,
        re.RESOURCES_TYPE,
        re.RESOURCES_IMG,
        re.RESOURCES_DS,
        re.RESOURCES_MANA,
        re.PARENT_RESOURCES_NUM,
        re.RESOURCES_CODE,
        re.COMPANY_ID
        from roles_resources re where re.ROLE_ID = #{roleId}
    </select>

    <select id="queryList" resultType="com.star.starboot.system.entity.RolesReResources">
        select re.* from roles_resources re
        where re.DELETED_CODE = 0
    </select>
    <select id="queryById" resultType="com.star.starboot.system.entity.RolesReResources">
        select re.* from roles_resources re
        where re.DELETED_CODE = 0 and re.ROLES_RE_RESOURCES_ID = #{id}
    </select>
</mapper>
