<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.quartz.dao.ScheduleJobLogMapper">

    <resultMap id="resultMap" type="com.star.starboot.quartz.entity.ScheduleJobLog">
        <result property="scheduleJobLogId" column="SCHEDULE_JOB_LOG_ID" />
        <result property="scheduleJobId" column="SCHEDULE_JOB_ID" />
        <result property="name" column="NAME" />
    </resultMap>
</mapper>
