<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.quartz.dao.ScheduleJobMapper">

    <resultMap id="resultMap" type="com.star.starboot.quartz.entity.ScheduleJob">
        <result property="scheduleJobId" column="SCHEDULE_JOB_ID" />
        <result property="name" column="NAME" />
        <result property="params" column="PARAMS" />
    </resultMap>

    <sql id="base_query">
        <if test="vo.scheduleJobLogId!=null and vo.scheduleJobLogId !=''">
            and sch.SCHEDULE_JOB_LOG_ID = #{vo.scheduleJobLogId}
        </if>
        <if test="vo.name!=null and vo.name !=''">
            and sch.NAME like concat('%',#{vo.name},'%')
        </if>
        <if test="vo.params!=null and vo.params !=''">
            and sch.PARAMS like concat('%',#{vo.params},'%')
        </if>
    </sql>

    <select id="queryList" resultType="com.star.starboot.quartz.entity.ScheduleJob">
        select sch.* from t_schedule_job sch
        where sch.DELETED_CODE = 0
    </select>
</mapper>
