<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.SecondDictMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.SecondDict">
        <result property="secondDictId" column="SECOND_DICT_ID" />
        <result property="dictId" column="DICT_ID" />
        <result property="firstDictId" column="FIRST_DICT_ID" />
    </resultMap>
</mapper>
