<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.SecondDictMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.SecondDict">
        <result property="secondDictId" column="SECOND_DICT_ID" />
        <result property="dictId" column="DICT_ID" />
        <result property="firstDictId" column="FIRST_DICT_ID" />
        <result property="secondCode" column="SECOND_CODE" />
        <result property="secondName" column="SECOND_NAME" />
        <result property="secondDs" column="SECOND_DS" />
    </resultMap>

    <sql id="base_query">
        <if test="vo.secondDictId!=null and vo.secondDictId !=''">
            and sch.SECOND_DICT_ID = #{vo.secondDictId}
        </if>
        <if test="vo.dictId!=null and vo.dictId !=''">
            and sch.DICT_ID = #{vo.dictId}
        </if>
        <if test="vo.firstDictId!=null and vo.firstDictId !=''">
            and sch.FIRST_DICT_ID = #{vo.firstDictId}
        </if>
        <if test="vo.secondCode!=null and vo.secondCode !=''">
            and sch.SECOND_CODE like concat('%',#{vo.secondCode},'%')
        </if>
        <if test="vo.secondName!=null and vo.secondName !=''">
            and sch.SECOND_NAME like concat('%',#{vo.secondName},'%')
        </if>
        <if test="vo.secondDs!=null and vo.secondDs !=''">
            and sch.SECOND_DS like concat('%',#{vo.secondDs},'%')
        </if>
    </sql>

    <select id="queryList" resultType="com.star.starboot.system.entity.SecondDict">
        select sch.* from t_second_dict sch
        where sch.DELETED_CODE = 0
    </select>
    <select id="queryById" resultType="com.star.starboot.system.entity.SecondDict">
        select sch.* from t_second_dict sch
        where sch.DELETED_CODE = 0 and sch.SECOND_DICT_ID = #{id}
    </select>
    <select id="listByIds" resultType="com.star.starboot.system.entity.SecondDict">
        select sch.* from t_second_dict sch where sch.DELETED_CODE = 0
        and
        <foreach collection='ids' item="item" separator="or" open="(" close=")">
            find_in_set(sch.SECOND_DICT_ID, #{item})
        </foreach>
    </select>
</mapper>
