<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.SysLogMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.SysLog">
        <result property="logId" column="LOG_ID" />
        <result property="requireMethod" column="REQUIRE_METHOD" />
        <result property="methodDesc" column="METHOD_DESC" />
        <result property="ip" column="IP" />
        <result property="client" column="CLIENT" />
        <result property="os" column="OS" />
    </resultMap>

    <select id="queryPage" resultType="com.star.starboot.system.entity.SysLog">
        select log.* from t_sys_log log where log.DELETED_CODE = 0
        <if test="sysLog.userCode != null and sysLog.userCode != ''">
            and log.USER_CODE = #{sysLog.userCode}
        </if>
        <if test="sysLog.companyCode != null and sysLog.companyCode != ''">
            and log.COMPANY_CODE = #{sysLog.companyCode}
        </if>
        ORDER BY CREATE_AT desc
    </select>

</mapper>
