<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.SysLogMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.SysLog">
        <result property="logId" column="LOG_ID" />
        <result property="requireMethod" column="REQUIRE_METHOD" />
        <result property="methodDesc" column="METHOD_DESC" />
        <result property="ip" column="IP" />
        <result property="client" column="CLIENT" />
        <result property="os" column="OS" />
    </resultMap>

    <sql id="base_query">
        <if test="vo.logId!=null and vo.logId !=''">
            and log.LOG_ID = #{vo.logId}
        </if>
        <if test="vo.requireMethod!=null and vo.requireMethod !=''">
            and log.REQUIRE_METHOD = #{vo.requireMethod}
        </if>
        <if test="vo.firstDictId!=null and vo.firstDictId !=''">
            and log.FIRST_DICT_ID = #{vo.firstDictId}
        </if>
        <if test="vo.methodDesc!=null and vo.methodDesc !=''">
            and log.METHOD_DESC like concat('%',#{vo.methodDesc},'%')
        </if>
        <if test="vo.ip!=null and vo.ip !=''">
            and log.IP = #{vo.ip}
        </if>
        <if test="vo.client!=null and vo.client !=''">
            and log.CLIENT = #{vo.client}
        </if>
        <if test="vo.os!=null and vo.os !=''">
            and log.OS = #{vo.os}
        </if>
    </sql>

    <select id="queryPage" resultType="com.star.starboot.system.entity.SysLog">
        select log.* from t_sys_log log where log.DELETED_CODE = 0
        <if test="sysLog.userCode != null and sysLog.userCode != ''">
            and log.USER_CODE = #{sysLog.userCode}
        </if>
        <if test="sysLog.companyCode != null and sysLog.companyCode != ''">
            and log.COMPANY_CODE = #{sysLog.companyCode}
        </if>
        ORDER BY CREATE_AT desc
    </select>

    <select id="queryList" resultType="com.star.starboot.system.entity.SysLog">
        select log.* from t_sys_log log
        where log.DELETED_CODE = 0
    </select>
</mapper>
