<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.SystemBhMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.SystemBh">
        <result property="systemBhId" column="SYSTEM_BH_ID" />
        <result property="bhType" column="BH_TYPE" />
        <result property="bhrqType" column="BHRQ_TYPE" />
        <result property="currentXh" column="CURRENT_XH" />
    </resultMap>

    <select id="selectOne" resultType="com.star.starboot.system.entity.SystemBh">
        select * from t_system_bh
        <where>
            <if test="bhType != null and bhType != ''">
                BH_TYPE = #{bhType}
            </if>

            <if test="dateTy != null and dateTy != ''">
                AND BHRQ_TYPE = #{dateTy}
            </if>
        </where>
    </select>
</mapper>
