<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.SystemBhMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.SystemBh">
        <result property="systemBhId" column="SYSTEM_BH_ID" />
        <result property="bhType" column="BH_TYPE" />
        <result property="bhrqType" column="BHRQ_TYPE" />
        <result property="currentXh" column="CURRENT_XH" />
    </resultMap>

    <sql id="base_query">
        <if test="vo.systemBhId!=null and vo.systemBhId !=''">
            and bh.SYSTEM_BH_ID = #{vo.systemBhId}
        </if>
        <if test="vo.bhType!=null and vo.bhType !=''">
            and bh.BH_TYPE = #{vo.bhType}
        </if>
        <if test="vo.bhrqType!=null and vo.bhrqType !=''">
            and bh.BHRQ_TYPE = #{vo.bhrqType}
        </if>
        <if test="vo.currentXh!=null and vo.currentXh !=''">
            and bh.CURRENT_XH = #{vo.currentXh}
        </if>
    </sql>

    <select id="selectOne" resultType="com.star.starboot.system.entity.SystemBh">
        select * from t_system_bh
        <where>
            <if test="bhType != null and bhType != ''">
                BH_TYPE = #{bhType}
            </if>

            <if test="dateTy != null and dateTy != ''">
                AND BHRQ_TYPE = #{dateTy}
            </if>
        </where>
    </select>
</mapper>
