<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.uploaddata.dao.UploadDataMapper">

    <resultMap id="resultMap" type="com.star.starboot.uploaddata.entity.UploadData">
        <result property="userId" column="USER_ID" />
        <result property="uploadDataId" column="UPLOAD_DATA_ID" />
        <result property="icuZkys" column="ICU_ZKYS" />
        <result property="icuCws" column="ICU_CWS" />
        <result property="icuHszs" column="ICU_HSZS" />
        <result property="yyzcws" column="YYZCWS" />
        <result property="icuCwl" column="ICU_CWL" />
        <result property="icuYscwb" column="ICU_YSCWB" />
    </resultMap>

    <sql id="base_query">
        <if test='uploadDataDto.userId != null and uploadDataDto.userId != ""'>
            and uploadData.USER_ID = #{uploadDataDto.userId}
        </if>
        <if test='uploadDataDto.uploadDataId != null and uploadDataDto.uploadDataId != ""'>
            and uploadData.UPLOAD_DATA_ID = #{uploadDataDto.uploadDataId}
        </if>
        <if test='uploadDataDto.icuZkys != null and uploadDataDto.icuZkys != ""'>
            and uploadData.ICU_ZKYS like concat('%',#{uploadDataDto.icuZkys},'%')
        </if>
        <if test='uploadDataDto.icuCws != null and uploadDataDto.icuCws != ""'>
            and uploadData.ICU_CWS like concat('%',#{uploadDataDto.icuCws},'%')
        </if>
        <if test='uploadDataDto.icuHszs != null and uploadDataDto.icuHszs != ""'>
            and uploadData.ICU_HSZS like concat('%',#{uploadDataDto.icuHszs},'%')
        </if>
        <if test='uploadDataDto.yyzcws != null and uploadDataDto.yyzcws != ""'>
            and uploadData.YYZCWS like concat('%',#{uploadDataDto.yyzcws},'%')
        </if>
        <if test='uploadDataDto.icuCwl != null and uploadDataDto.icuCwl != ""'>
            and uploadData.ICU_CWL like concat('%',#{uploadDataDto.icuCwl},'%')
        </if>
        <if test='uploadDataDto.icuYscwb != null and uploadDataDto.icuYscwb != ""'>
            and uploadData.ICU_YSCWB like concat('%',#{uploadDataDto.icuYscwb},'%')
        </if>
        <if test='uploadDataDto.sbsj != null'>
            and date_format(uploadData.SBSJ,'%Y-%m') = date_format(#{uploadDataDto.sbsj},'%Y-%m')
        </if>
        <if test='uploadDataDto.sbsjRange != null'>
            and date_format(uploadData.SBSJ,'%Y-%m') <![CDATA[>=]]> date_format(#{uploadDataDto.sbsjRange[0]},'%Y-%m')
            and date_format(uploadData.SBSJ,'%Y-%m') <![CDATA[<=]]> date_format(#{uploadDataDto.sbsjRange[1]},'%Y-%m')
        </if>
    </sql>

    <select id="queryByDate" resultType="com.star.starboot.uploaddata.entity.UploadData">
        select * from t_upload_data where DELETED_CODE = 0 and USER_ID = #{usersDto.userId}
        and date_format(SBSJ,'%Y-%m') = date_format(#{uploadDataDto.sbsj},'%Y-%m')
    </select>
    <select id="queryPage" resultType="com.star.starboot.uploaddata.dto.UploadDataDto">
        select uploadData.*,users.USER_NAME,users.USER_CODE from t_upload_data uploadData
        left join t_users users on uploadData.USER_ID = users.USER_ID
        where uploadData.DELETED_CODE = 0
        <include refid="base_query"/>
        Order by uploadData.SBSJ desc
    </select>

</mapper>
