<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.UsersReRolesMapper">

    <resultMap id="resultMap" type="com.star.starboot.system.entity.UsersReRoles">
        <result property="usersReRolesId" column="USERS_RE_ROLES_ID" />
        <result property="userId" column="USER_ID" />
        <result property="roleId" column="ROLE_ID" />
    </resultMap>

    <sql id="base_query">
        <if test='vo.usersReRolesId != null and vo.usersReRolesId != ""'>
            and urr.USERS_RE_ROLES_ID = #{vo.usersReRolesId}
        </if>
        <if test='vo.userId != null and vo.userId != ""'>
            and urr.USER_ID = #{vo.userId}
        </if>
        <if test='vo.roleId != null and vo.roleId != ""'>
            and urr.ROLE_ID = #{vo.roleId}
        </if>
    </sql>
    <select id="queryList" resultType="com.star.starboot.system.dto.UsersReRolesDto">
        select reRoles.* from t_users_re_roles reRoles
        where reRoles.DELETED_CODE = 0
    </select>
</mapper>
