<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.person.dao.UserBasicInfoMapper">

    <resultMap id="resultMap" type="com.star.starboot.person.entity.UserBasicInfo">
        <result property="userBasicInfoId" column="USER_BASIC_INFO_ID" />
        <result property="userId" column="USER_ID" />
        <result property="province" column="PROVINCE" />
        <result property="city" column="CITY" />
        <result property="cityCode" column="CITY_CODE" />
        <result property="area" column="AREA" />
    </resultMap>
</mapper>
