<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.starboot.system.dao.UsersMapper">

    <sql id="base_query">
        <if test='usersDto.userCode != null and usersDto.userCode != ""'>
            and users.USER_CODE LIKE concat('%',#{usersDto.userCode},'%')
        </if>
        <if test='usersDto.userName != null and usersDto.userName != ""'>
            and users.USER_NAME LIKE concat('%',#{usersDto.userName},'%')
        </if>
        <if test='usersDto.tel != null and usersDto.tel != ""'>
            and users.TEL LIKE concat('%',#{usersDto.tel},'%')
        </if>
    </sql>
    <select id="getUserByUserCodeAndCompanyCode" resultType="com.star.starboot.system.dto.UsersDto">
        select users.*,company.COMPANY_ID,company.COMPANY_CODE,department.DEPARTMENT_CODE,
	concat_ws( '-', `company`.`COMPANY_CODE` , `users`.`USER_CODE`) AS `userCompanyCode` from t_users users
        left join t_department department on users.DEPARTMENT_ID = department.DEPARTMENT_ID
        left join t_company company on department.COMPANY_ID = company.COMPANY_ID
        where users.DELETED_CODE = 0 and department.DELETED_CODE = 0 and company.DELETED_CODE = 0
        and users.USER_CODE = #{userCode} and company.COMPANY_CODE = #{companyCode}
    </select>
    <select id="queryPage" resultType="com.star.starboot.system.dto.UsersDto">
        select users.* from t_users users
        where users.DELETED_CODE = 0
        <include refid="base_query"/>
    </select>
    <select id="queryList" resultType="com.star.starboot.system.dto.UsersDto">
        select  re.USER_ID,re.USER_NAME from users_roles_department_company re
    </select>
    <select id="getByIds" resultType="com.star.starboot.system.dto.UsersDto">
        select users.* from t_users users where users.DELETED_CODE = 0

        and
        <foreach collection='userIds' item="item" separator="or" open="(" close=")">
            find_in_set(users.USER_ID, #{item})
        </foreach>
    </select>

</mapper>
